html,
body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #FFFFC7 !important;
}
goldcost {
    color: #b8b816;
}

#___gatsby {
    height: 100%;
}

#gatsby-focus-wrapper {
    height: 100%;
}

 {
    height: 100%;
}
#amalgam {
    background-image: url("../images/amalg.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #29273e !important;
}